

body{
  margin: 0 auto;
  padding: 0;
  background-color: rgba(100, 100, 100, 0.8);
  font-size: 15px;
  font-family: sans-serif;
  color: white;
}

.main-flex-container{
  display: flex;
  border: 1px white solid;
  padding: 40px;
  height: 20%;
  border-radius: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container-links{
  display: flex;
  font-size: 1rem;
  margin-left: 45%;
  align-items: center;
  justify-content: right;
}

.flex-container-links > .flex-item-sobre{
  padding: 10px;
}

.main-flex-1 , .main-flex-2 , .main-flex-3{
  display: flex;
  width: 80%;
  height: 500px;
  border-radius: 10px;
  /*border: 1px solid white;*/
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.main-flex-1 > .bl1 {
  border: 1px solid white;
  width: 50%;
  border-radius: 10px;
}

.main-flex-1 > .bl2{
  border: 1px solid white;
  width: 50%;
  border-radius: 10px;
}

.membrana{
  padding: 0.8%;
}

.main-flex-2 > .bl1 {
  border: 1px solid white;
  width: 50%;
  border-radius: 10px;
}

.main-flex-2 > .bl2{
  border: 1px solid white;
  width: 50%;
  border-radius: 10px;
}

.main-flex-3 > .bl1 {
  border: 1px solid white;
  width: 50%;
  border-radius: 10px;
}

.main-flex-3 > .bl2{
  border: 1px solid white;
  width: 50%;
  border-radius: 10px;
}

footer{
  height: 200px;
  background-color: rgba(100, 100, 100, 0.2);
  color: black;
}