*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}


header{
    height: 20%;
    padding: 40px 2%;
    background-color: #3333ff;
}

html, body{
    height: 100%;
    background-color: #ccccff;
}

.container {
    font-size: 20px;
    color: aquamarine;
}

.dados-gerais {
    color: orangered;
}

.location {
    color: navy;
}

.list-skills{
    color: indigo;
}
