/*Faça o tamanho da fonte ser maior;

Faça o tamanho da fonte dos elementos h1 ser menor;

Aumente o espaçamento entre as figuras;

Adicione um pouco de margin na página.
*/

body {
    font-size: 15px;
    line-height: 1.2rem;
    padding: 0;
    margin: 0;
    color:rgba(100,100,100,0.8);
}
h1 {
    color: black;
    text-align: center;

}
h2 {
    color: black;
    text-align: center;
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

@media screen and (min-width: 320px) and (max-widht: 411px){
    body {
    font-size: 15px;
    line-height: 1.2rem;
    color: rgba(100,100,100,0.8);
    margin: 0 auto;
    }
    img {
        max-width: 100%;
    }
    figure {
        margin: 0;
    }
}

@media screen and (min-width: 412px) and (max-width: 768px){
    body {
        font-size: 20px;
        line-height: 1.5rem;
        color: royalblue;
        margin: 5px auto;
        }
        img {
            max-width: 80%;
            align-items: center;
        }
        figure {
            margin: 5px;
            align-items: center;
        }

}

@media screen and (min-width: 769px){
    body {
        font-size: 25px;
        line-height: 1.8rem;
        color: rosybrown;
        margin: 0 auto;
        }
        img {
            max-width: 70%;
            align-items: center;
        }
        figure {
            margin: 10px;
            align-items: center;
        }

}