body{
    margin: 0 auto;
    padding: 0;
}

.flex-container{
    background-color: rgba(100, 100, 100, 0.8);
    display: flex;
}

.flex-items{
    background-color: royalblue;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    flex-direction: column;
}

